<head>
  <!--core first + styles last-->
  <link href="css/fontawesome-all.css" rel="stylesheet">
</head>
<body>
  <!--user icon in two different styles-->
  <i class="fas fa-user"></i>
  <i class="far fa-user"></i>
  <!--brand icon-->
  <i class="fab fa-github-square"></i>
</body>
