/*loader*/
		.js div#preloader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%;
		 height: 100%; overflow: visible; 
		 background: rgba(0, 0, 0, 0.28) url('../img/load.gif') no-repeat center center; }
/*loader*/

.dropdown-menu{
	background-color: #D6013C !important;
}

.nav-link{
	color: white !important;
	font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #D6013C !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #D6013C !important;
    border-radius: 20px !important;
}
.btn{
	    border-radius: 50px !important;
}

*{
	margin:0;
	padding:0;
}

html{
	background: #14243d;
	background: radial-gradient(ellipse at center, #14243d 0%,#030611 100%);
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

body{
	font: 14px/1.5 Arial, Helvetica, sans-serif;
	    color: #D6013C !important;
	background-color: white !important;

	height: 1366px !important;
}

a, a:visited, a:hover{
	color:#fff;
	text-decoration: none;
}


/* The cover flow slider */

.flipster {
	margin-top:120px;
}

.flipster ul li {
	text-align: center;
}

.flipster ul li a {
	text-align: center;
}

.flipster ul li a:after{
	content:'oo';
	letter-spacing: -2px;
	font-size: 12px;
	color:orange;
	margin-left:5px;
	font-weight: bold;
}

.flip-item img{
	margin-bottom: 10px;
}

/* Stats */

.stats{
	text-align: center;
	margin-top: 80px;
	color: #8C91A0;
	font-size: 13px;
}

.stats span{
	font-weight: bold;
	color: #A2A9BD;
	margin-right: 10px;
}

.form-control:disabled, .form-control[readonly] {
  background-color: rgba(214, 1, 60, 0.28) !important;
  opacity: 1 !important;
}

.sright{
	float: right;
}
.sleft{
	float: left;
}
.bg-primary{
	background-color: #E63969 !important;
}